@import '../../../../assets/styles/main/color.scss';

.addressPersonalPageUser{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $green-basic;
    font-weight: 700;
    font-size:1em;
  }

  .input-website{
    margin:50px 0 20px 0;
  }