  
<div class="vhfull cont-horiz" style="background: #FAFAFC; z-index: 0">  
  <div class="cont-vert box3">
    <div style="height:38px;">&nbsp;</div> 
    <h1>Добро пожаловать <br>в приложение OCPIO! </h1>  
    <div style="height:29px;">&nbsp;</div> 
    <div class="cont-horiz">
      <img src="/assets/img/search-Icon.png">
      <p> Бесплатная система поиска услуг<br> и онлайн-записи к специалистам</p>
    </div> 
    <div style="height:45px;">&nbsp;</div>
    <div class="cont-horiz">
      <img src="/assets/img/param.png">
      <p>Удобный фильтр по геолокации,<br> рейтингу и отзывам</p>
    </div> 
    <div style="height:45px;">&nbsp;</div> 
    <div class="cont-horiz">
      <img src="/assets/img/Ring-Icon.png">
      <p>Уведомления вовремя напомнят<br> о записи! </p>
    </div> 
    <div style="height:49px;">&nbsp;</div> 
    <div class="btn-green button-text cont-vert" (click)="close()">Зарегистрироваться</div>
    <div style="height:36px;">&nbsp;</div>
  </div>
</div>   
