<div class="ba-menu-profile-container">
  <div class="ba-menu-profile"  *ngFor="let menu of menus">
    <ul>
      <li
        [class.ba-menu-promo]="menu === 'Акции'"
        [class.ba-menu-promo--on]="menu === 'Акции' && chooseMainMenu === menu"
        [style.background-color]="menu === 'Акции' ? null : (chooseMainMenu === menu ? '#006174' : 'white')"
        [style.color]="menu === 'Акции' ? null : (chooseMainMenu === menu ? 'white' : 'black')"
        (click)="toMenu(menu)">
        {{menu}}
      </li>
    </ul>
  </div>
</div> 