<div class="margin-left10 margin-right10" >
  <p-breadcrumb class="max-w-full" [model]="items" [home]="home"
   *ngIf="getIsShow()" (onItemClick)="chooseMenu($event)" ></p-breadcrumb> 
</div>
<div class="row" *ngIf="isOpen || isShow2Level || isShow3Level"> 
  <!-- Уровень 1: Рубрики -->
  <div class="menu col" *ngIf="isOpen" [@dropDownMenu]>
    <div class="menu-item  row" *ngFor="let item of mainCategories; let i = index"
         [class]="item.isChoose ? 'chooseItem': 'none-item'"
         (click)="chooseMain(item)"
         (mouseover)="set2Level(item)" >
     <span [class]="item.icon" class="cont-horiz-start-start margin-right20" style="width: 24px; height: 24px"></span>
     {{item.name}}
    </div>
  </div>
  <!-- Уровень 2: Категории -->
  <div class="menu col"  *ngIf="isShow2Level" [@dropDownMenu2]>

    <div class="menu-item-2" (mouseover)="set3Level(item)"
         [class]="item.isChoose ? 'chooseItem': 'none-item'"
         (click)="chooseLevel2(item)"
         *ngFor="let item of menu2Level; let i = index">
      {{item.name}}
    </div>
  </div>
  <!-- Уровень 3: Подкатегории -->
  <div class="menu col" *ngIf="isShow3Level" [@dropDownMenu2]>
    <div class="menu-item-3" (click)="chooseLevel3(item)"
         [class]="item.isChoose ? 'chooseItem': 'none-item'"
         *ngFor="let item of menu3Level; let i = index">
      {{item.name}}
    </div>
  </div>
</div> 