
    <div class="cont-vert-center-start" style="margin: 20px;">
      <!-- Страница  style="max-width:1200px; "-->
      <div class="container">
        <div class="static-text" >
          <div class="simple-txt"> 
            Записывайся онлайн
          </div>
          <h1 class="head-h1">Удобно<br>Просто<br></h1>
          <!-- <div class="simple-txt"></div> -->
        </div>
        <!-- Картинка 1 -->
        <div class="image-container">
          <img src="/assets/landing/landing.jpg" alt="Фоновое изображение">
    
          <div class="overlay-text">
              <h2>Запишитесь онлайн</h2>
              <p>Выберите мастера и удобное время.</p>
          </div>
          <div class="overlay-text2">
            <h2>Выбирайте мастеров</h2>
            <p>по отзывам, услугам и ценам.</p>
        </div>
        <div class="overlay-text3">
          <h2>Будьте в курсе</h2>
          <p>новостей и акций ваших мастеров.</p>
      </div>
          <div class="wave">
      <svg viewBox="0 0 1440 100" xmlns="http://www.w3.org/2000/svg" style="width: 100%; height: auto;">
          <path fill="none" stroke="#5ecdd7" stroke-width="2" d="M0,50 C360,80 720,20 1080,70 C1440,120 1800,40 2160,60" />
      </svg>

  
  
      </div>
      <!-- <div class="btn-wave" (click)="openPopUp()">
    <a href="#" style="background: linear-gradient(45deg, #ff6f00, #ff4500); color: #ffffff;
     padding: 14px 28px; border-radius: 30px; font-size: 18px; text-decoration: none; font-weight: bold;
      box-shadow: 0 6px 14px rgba(255, 111, 0, 0.6); transition: 0.3s;">
        Зарегистрироваться
    </a>
</div> -->
      </div>

      </div>


    </div>

    <!-- <footer class="wave-border">
      <div style="max-width: 1200px; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; position: relative;">
        
          
          <div style="flex: 1; min-width: 250px; margin-bottom: 20px;">
              <h3 style="color: #ff6f00;">onWaves</h3>
              <p>Записывайтесь онлайн, общайтесь с мастерами и будьте в курсе новостей.</p>
          </div>
          

      </div>
      <p style="margin-top: 40px; text-align: center; font-size: 14px; color: #888888;">&copy; 2025 onWaves. Все права защищены.</p>
  </footer> -->  
