<app-albums-show [isEdit]=false [profileId]="id"></app-albums-show>
<app-accordion [isUpdate] = false [canSetService]="false" [profileId]="id" (setServices)="setServices($event)">
</app-accordion>
<div class="cont-vert-start-center wrap margin-top30" *ngIf="profile">
    <div class="margin-bottom40">
        <h3>Как нас найти</h3>
        <span>{{getAddressProfile(profile.address!)}}</span>
    </div>
    <!--Карта 2GIS start -->
          <div class="column-right-footer" *ngIf="geoPoint$|async as geo">
            <app-my-ycomponent [geo]="geo"></app-my-ycomponent>       
        </div>
    <!--Карта 2GIS END-->
</div>
<app-reviews-carusel [id]="id"></app-reviews-carusel>
