<div class="card cont-vert-center-between">
    <!-- Фото -->
    <a href="/ua_service(1.55).html" style="height: 280px;">
        <img src="/assets/img/search/avto-moto1.jpg" class="card-img" >
    </a>
    <!-- Описание -->
    <div class="description_card">
        <div class="cont-horiz-start-start" style="PADDING: 5PX;">
            <div class="cont-horiz margin-top10 margin-bottom20">
                <img src="/assets/img/page1/popular/Ellipse-21.png" class="ico-comment">
                <p class="margin-right20">
                    100
                </p>
                <img src="/assets/img/page1/popular/Star-24.png" class="card-usl-img-raiting margin-right10">
                <p>4,6</p>
            </div>
        </div>
        <div class="card-service-title margin-bottom10">
            <a href="/ua_service(1.55).html">
                <h3>Мастер Гараж</h3>
            </a>
        </div>
        <p class=" ">
            г.Барнаул
        </p>
        <p class="card-adress margin-bottom20">
            Малахова улица, 177е к2
        </p>
        <div class="teg-green">
            <div class="cont-horiz">
                Тюнинг выхлопной системы
            </div>
        </div>
    </div>
</div>