<!-- Страница Помощь Шаг 2 Инструкции -->
<!-- Как попасть на страницу -->
<!-- \app\ui\hamb-menu\hamb-menu-register\hamb-menu-register.component.html --><!-- нажать на гамбургер в главном меню -->
<!-- /static/help --> <!-- Страница Помощь Шаг 1 Основная -->
<!-- /static/helpQuestion --> <!-- Вы на месте --> 
<div class="cont-horiz" style="background: #FAFAFC;  padding-bottom: 20px;">
    <div class="cont-vert list1200">
        <!-- Cтраница -->
        <div class="cont-vert-start-start w100 left-right20">
            <!-- Заголовок страницы  -->
            <div class="cont-horiz-start margin-top50 margin-bottom50">
                <!-- стрелка назад -->
                <div class="cont-horiz btn-back margin-right30" (click)="goToHelp()"> 
                </div>
                <div>
                    <h1>Помощь</h1>
                </div>
            </div>
            <div class="margin-bottom20">
                <h2>Создание бизнес-аккаунта</h2>
            </div>
            <!-- Удалить страницы-->
            <!--(click)=goToHelpQuestionAnswerPage()--> 
            
            <!--  Заголовок вопроса 1 -->   
            <div class="accordion_tab">
                <!-- Категория -->
                <input type="checkbox" id="chck1">
                <label class="accordion_tab-label" for="chck1">
                    <div class="cont-horiz-between w100">
                        <div>
                            Как создать бизнес-аккаунт? 
                        </div> 
                    </div>
                </label>
                <div class="accordion_tab-content"> 
                    <!-- Подкатегория 2 -->
                    <div class="str_uslugi_podcategory  ">   
                        <iframe width="235" height="458" 
                            src="https://www.youtube.com/embed/8N3eVVTPBJU" title="18. Кабинет Бизнес-аккаунта" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            allowfullscreen>
                        </iframe>
                        <div class="">
                            Современные технологии достигли такого уровня, что граница обучения кадров создаёт необходимость включения в производственный 
                            план целого ряда внеочередных мероприятий с учётом комплекса форм воздействия.
                            Являясь всего лишь частью общей картины, диаграммы связей призывают нас к новым свершениям, которые, в свою очередь, должны 
                            быть преданы социально-демократической анафеме!
                            Картельные сговоры не допускают ситуации, при которой непосредственные участники технического прогресса будут призваны к ответу.
                        </div>
                    </div> 
                </div>
            </div>
            <!--  Заголовок вопроса 2 --> 
            <div class="accordion_tab">
                <!-- Категория -->
                <input type="checkbox" id="chck2">
                <label class="accordion_tab-label" for="chck2">
                    <div class="cont-horiz-between w100">
                        <div>
                            Как редактировать данные бизнес-аккаунта?
                        </div> 
                    </div>
                </label>
                <div class="accordion_tab-content"> 
                    <!-- Подкатегория 2 -->
                    <div class="str_uslugi_podcategory  ">  
                        <iframe class="margin-bottom20 border-radius:40px" 
                            width="560" height="315" 
                            src="https://www.youtube.com/embed/DzqfBxlvANQ" 
                            title="YouTube video player" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            allowfullscreen>
                        </iframe>
                        <div class="">
                            Современные технологии достигли такого уровня, что граница обучения кадров создаёт необходимость включения в производственный 
                            план целого ряда внеочередных мероприятий с учётом комплекса форм воздействия.
                            Являясь всего лишь частью общей картины, диаграммы связей призывают нас к новым свершениям, которые, в свою очередь, должны 
                            быть преданы социально-демократической анафеме!
                            Картельные сговоры не допускают ситуации, при которой непосредственные участники технического прогресса будут призваны к ответу.
                        </div>
                    </div> 
                </div>
            </div>
            <!--  Заголовок вопроса 3 --> 
            <div class="accordion_tab">
                <!-- Категория -->
                <input type="checkbox" id="chck3">
                <label class="accordion_tab-label" for="chck3">
                    <div class="cont-horiz-between w100">
                        <div>
                            Как удалить аккаунт?
                        </div> 
                    </div>
                </label>
                <div class="accordion_tab-content"> 
                    <!-- Подкатегория 2 -->
                    <div class="str_uslugi_podcategory  ">  
                        <iframe class="margin-bottom20 border-radius:40px" 
                            width="560" height="315" 
                            src="https://www.youtube.com/embed/DzqfBxlvANQ" 
                            title="YouTube video player" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            allowfullscreen>
                        </iframe>
                        <div class="">
                            Современные технологии достигли такого уровня, что граница обучения кадров создаёт необходимость включения в производственный 
                            план целого ряда внеочередных мероприятий с учётом комплекса форм воздействия.
                            Являясь всего лишь частью общей картины, диаграммы связей призывают нас к новым свершениям, которые, в свою очередь, должны 
                            быть преданы социально-демократической анафеме!
                            Картельные сговоры не допускают ситуации, при которой непосредственные участники технического прогресса будут призваны к ответу.
                        </div>
                    </div> 
                </div>
            </div>
            <!--  Заголовок вопроса 4 --> 
            <div class="accordion_tab">
                <!-- Категория -->
                <input type="checkbox" id="chck4">
                <label class="accordion_tab-label" for="chck4">
                    <div class="cont-horiz-between w100">
                        <div>
                            Что делать если я пока не хочу принимать заказы?
                        </div> 
                    </div>
                </label>
                <div class="accordion_tab-content"> 
                    <!-- Подкатегория 2 -->
                    <div class="str_uslugi_podcategory  ">  
                        <iframe class="margin-bottom20 border-radius:40px" 
                            width="560" height="315" 
                            src="https://www.youtube.com/embed/DzqfBxlvANQ" 
                            title="YouTube video player" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            allowfullscreen>
                        </iframe>
                        <div class="">
                            Современные технологии достигли такого уровня, что граница обучения кадров создаёт необходимость включения в производственный 
                            план целого ряда внеочередных мероприятий с учётом комплекса форм воздействия.
                            Являясь всего лишь частью общей картины, диаграммы связей призывают нас к новым свершениям, которые, в свою очередь, должны 
                            быть преданы социально-демократической анафеме!
                            Картельные сговоры не допускают ситуации, при которой непосредственные участники технического прогресса будут призваны к ответу.
                        </div>
                    </div> 
                </div>
            </div>
            <!--  Заголовок вопроса 4 --> 
            <div class="accordion_tab">
                <!-- Категория -->
                <input type="checkbox" id="chck5">
                <label class="accordion_tab-label" for="chck5">
                    <div class="cont-horiz-between w100"> 
                        Я что-то нажала и все исчезло  
                    </div>
                </label>
                <div class="accordion_tab-content"> 
                    <!-- Подкатегория 2 -->
                    <div class="str_uslugi_podcategory  ">  
                        <iframe class="margin-bottom20 border-radius:40px" 
                            width="560" height="315" 
                            src="https://www.youtube.com/embed/DzqfBxlvANQ" 
                            title="YouTube video player" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            allowfullscreen>
                        </iframe>
                        <div class="">
                            Современные технологии достигли такого уровня, что граница обучения кадров создаёт необходимость включения в производственный 
                            план целого ряда внеочередных мероприятий с учётом комплекса форм воздействия.
                            Являясь всего лишь частью общей картины, диаграммы связей призывают нас к новым свершениям, которые, в свою очередь, должны 
                            быть преданы социально-демократической анафеме!
                            Картельные сговоры не допускают ситуации, при которой непосредственные участники технического прогресса будут призваны к ответу.
                        </div>
                    </div> 
                </div>
            </div>  
            <div class="margin-top50 margin-bottom20">
                <h2>Поддержка</h2>
            </div>
            <div class="margin-bottom40">
                Мы любим общаться.
            </div>
            <div class="w100 cont-horiz-start-start wrap" style="margin-bottom: 50px;">
                <div class="cont-horiz btn-green margin-right20 margin-bottom20" style="max-width: 280px;">
                    <div class="margin-right10">
                        <img src="/assets/img/help/chat.png">
                    </div>
                    <div>Чат</div>
                </div>
                <div class="cont-horiz btn-green margin-bottom20" style="max-width: 280px;">
                    <div class="margin-right10">
                        <img src="/assets/img/help/mail.png">
                    </div>
                    <div>Почта</div>
                </div>
            </div>
        </div>
    </div>
</div> 