<div class="parent-grey-light left-right20mob">
  <div class="disp1" style="max-width: 1200px;">
    <!--- Конкурсы Start  НЕ УДАЛЯТЬ!!! раскоментироать после пояления функционала конкурсов!!
    <div class="cont-vert-start wrap margin-bottom30">
      <h3>Конкурсы</h3>
    </div>

    <div class="wrap" style="display: flex; gap: 10px 10px; ">-->
      <!-- Конкурс 1 
      <div class="contest cont-vert-between" style="background-image:url('/assets/img/1.8_u_a/contest1.jpg');" >
        <div class="contest-name">
          <b>Пушистые-шерститсые брови шелковистые</b>
        </div>
        <div>
          Лучшая работа в технике airbrow
        </div>
        <div>-->
          <!-- Ico-location 
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#fff">
            <path fill="#fff" fill-rule="evenodd" d="M11.855 2.558a6.297 6.297 0 0 0-6.297 6.297c0 .796.375 1.988 1.033 3.414.645 1.396 1.511 2.914 2.388 4.327a79.853 79.853 0 0 0 2.876 4.302l.468-.661c.658-.94 1.534-2.23 2.408-3.641.877-1.413 1.743-2.931 2.388-4.327.658-1.426 1.034-2.618 1.034-3.414a6.298 6.298 0 0 0-6.298-6.297Zm0 19.663-.624.467-.005-.008-.016-.021-.06-.082-.229-.312a81.275 81.275 0 0 1-3.266-4.849c-.893-1.438-1.795-3.017-2.478-4.494C4.51 11.474 4 10.016 4 8.855a7.855 7.855 0 0 1 15.71 0c0 1.161-.509 2.62-1.177 4.067-.683 1.477-1.585 3.056-2.478 4.495a81.259 81.259 0 0 1-3.494 5.16l-.06.082-.017.021-.005.007-.624-.466Zm0 0 .624.466a.78.78 0 0 1-1.248 0l.624-.466Z" clip-rule="evenodd"/>
            <path fill="#fff" fill-rule="evenodd" d="M11.855 7.275a1.58 1.58 0 1 0 0 3.16 1.58 1.58 0 0 0 0-3.16Zm-3.138 1.58a3.138 3.138 0 1 1 6.275 0 3.138 3.138 0 0 1-6.275 0Z" clip-rule="evenodd"/>
          </svg>&nbsp;
          Россия
        </div>
        <div class="cont-horiz-between">
          <div class="margin-right10">
            1.01&nbsp;–&nbsp;31.01
          </div>
          <div class="margin-right10">
            Осталось 3&nbsp;дня
          </div>
          <div class="cont-horiz">
            <div>Читать&nbsp;условия&nbsp;&nbsp;</div>-->
            <!--- arr-right-white 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
              <path fill="#fff" fill-rule="evenodd" d="M16.566 11.435a.8.8 0 0 1 0 1.131l-8 8a.8.8 0 0 1-1.132-1.131L14.87 12 7.434 4.566a.8.8 0 1 1 1.132-1.131l8 8Z" clip-rule="evenodd"/>
            </svg>
          </div>
        </div>
      </div>-->
      <!--- Конкурс 2 
      <div class="contest cont-vert-between" style="background-image:url('/assets/img/1.8_u_a/contest1.jpg');" >
        <div class="contest-name">
          <b>Пушистые-шерститсые брови шелковистые</b>
        </div>
        <div>
          Лучшая работа в технике airbrow
        </div>
        <div>-->
          <!-- Ico-location
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#fff">
            <path fill="#fff" fill-rule="evenodd" d="M11.855 2.558a6.297 6.297 0 0 0-6.297 6.297c0 .796.375 1.988 1.033 3.414.645 1.396 1.511 2.914 2.388 4.327a79.853 79.853 0 0 0 2.876 4.302l.468-.661c.658-.94 1.534-2.23 2.408-3.641.877-1.413 1.743-2.931 2.388-4.327.658-1.426 1.034-2.618 1.034-3.414a6.298 6.298 0 0 0-6.298-6.297Zm0 19.663-.624.467-.005-.008-.016-.021-.06-.082-.229-.312a81.275 81.275 0 0 1-3.266-4.849c-.893-1.438-1.795-3.017-2.478-4.494C4.51 11.474 4 10.016 4 8.855a7.855 7.855 0 0 1 15.71 0c0 1.161-.509 2.62-1.177 4.067-.683 1.477-1.585 3.056-2.478 4.495a81.259 81.259 0 0 1-3.494 5.16l-.06.082-.017.021-.005.007-.624-.466Zm0 0 .624.466a.78.78 0 0 1-1.248 0l.624-.466Z" clip-rule="evenodd"/>
            <path fill="#fff" fill-rule="evenodd" d="M11.855 7.275a1.58 1.58 0 1 0 0 3.16 1.58 1.58 0 0 0 0-3.16Zm-3.138 1.58a3.138 3.138 0 1 1 6.275 0 3.138 3.138 0 0 1-6.275 0Z" clip-rule="evenodd"/>
          </svg> &nbsp;
          Россия
        </div>
        <div class="cont-horiz-between">
          <div class="margin-right10">
            1.01&nbsp;–&nbsp;31.01
          </div>
          <div class="margin-right10">
            Осталось 3&nbsp;дня
          </div>
          <div class="cont-horiz">
            <div>Читать&nbsp;условия&nbsp;&nbsp;</div> -->
            <!--- arr-right-white
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
              <path fill="#fff" fill-rule="evenodd" d="M16.566 11.435a.8.8 0 0 1 0 1.131l-8 8a.8.8 0 0 1-1.132-1.131L14.87 12 7.434 4.566a.8.8 0 1 1 1.132-1.131l8 8Z" clip-rule="evenodd"/>
            </svg>
          </div>
        </div>
      </div> -->
      <!--- Конкурс 3 
      <div class="contest cont-vert-between" style="background-image:url('/assets/img/1.8_u_a/contest1.jpg');" >
        <div class="contest-name">
          <b>Пушистые-шерститсые брови шелковистые</b>
        </div>
        <div>
          Лучшая работа в технике airbrow
        </div>
        <div>-->
          <!-- Ico-location 
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#fff">
            <path fill="#fff" fill-rule="evenodd" d="M11.855 2.558a6.297 6.297 0 0 0-6.297 6.297c0 .796.375 1.988 1.033 3.414.645 1.396 1.511 2.914 2.388 4.327a79.853 79.853 0 0 0 2.876 4.302l.468-.661c.658-.94 1.534-2.23 2.408-3.641.877-1.413 1.743-2.931 2.388-4.327.658-1.426 1.034-2.618 1.034-3.414a6.298 6.298 0 0 0-6.298-6.297Zm0 19.663-.624.467-.005-.008-.016-.021-.06-.082-.229-.312a81.275 81.275 0 0 1-3.266-4.849c-.893-1.438-1.795-3.017-2.478-4.494C4.51 11.474 4 10.016 4 8.855a7.855 7.855 0 0 1 15.71 0c0 1.161-.509 2.62-1.177 4.067-.683 1.477-1.585 3.056-2.478 4.495a81.259 81.259 0 0 1-3.494 5.16l-.06.082-.017.021-.005.007-.624-.466Zm0 0 .624.466a.78.78 0 0 1-1.248 0l.624-.466Z" clip-rule="evenodd"/>
            <path fill="#fff" fill-rule="evenodd" d="M11.855 7.275a1.58 1.58 0 1 0 0 3.16 1.58 1.58 0 0 0 0-3.16Zm-3.138 1.58a3.138 3.138 0 1 1 6.275 0 3.138 3.138 0 0 1-6.275 0Z" clip-rule="evenodd"/>
          </svg>&nbsp;
          Россия
        </div>
        <div class="cont-horiz-between">
          <div class="margin-right10">
            1.01&nbsp;–&nbsp;31.01
          </div>
          <div class="margin-right10">
            Осталось 3&nbsp;дня
          </div>
          <div class="cont-horiz">
            <div>Читать&nbsp;условия&nbsp;&nbsp;</div>-->
            <!--- arr-right-white 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
              <path fill="#fff" fill-rule="evenodd" d="M16.566 11.435a.8.8 0 0 1 0 1.131l-8 8a.8.8 0 0 1-1.132-1.131L14.87 12 7.434 4.566a.8.8 0 1 1 1.132-1.131l8 8Z" clip-rule="evenodd"/>
            </svg>
          </div>
        </div>
      </div>
    </div>-->
    <!--- Конкурсы END -->
  </div>
</div>
<div class="parent-grey-light left-right20mob">
  <div class="disp1">
    <!--div class="cont-horiz padding-top80">
      <a href="#" class="btn-green" style="white-space: nowrap;max-width:450px;">
        Перейти&nbsp;к&nbsp;списку&nbsp;конкурсов
      </a>
    </div-->
    <!-- Последние посещения Start  -->
    <div class="cont-horiz-start wrap padding-top80 margin-bottom30" *ngIf="auth">
      <h3>Последние посещения</h3>
    </div>
    <div class="cont-horiz-around wrap " *ngIf="auth"> 
      <app-clients-card-list [card-business]="historyCards$.value"
       class="disp1 cont-horiz-start-start wrap" style="gap: 10px 4px;">
      </app-clients-card-list>
    </div>
    <!-- Последние посещения END  -->
      
    <!-- Популярное -->
    <!-- <div class="cont-horiz-start wrap margin-top50">
      <h3>Рекомендуем</h3>
    </div> -->
    <!--Переключатель-->
    <!-- partial:index.partial.html  display: flex;    justify-content: center;     align-items: center; -->
    <div class="tabs padding-top40 padding-bottom40">      
      <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
      <label for="tab-btn-1" class="tab50" style="overflow: hidden;"
      (click)="changeCards(false)" >
        Рекомендуем
      </label>      
      <input type="radio" name="tab-btn" id="tab-btn-2" value="">
      <label for="tab-btn-2" class="tab50" style=" margin-left: -60px;"
      (click)="changeCards(false)">
        Рядом
      </label>
      <div id="content-1">
        <div class="cont-horiz-around wrap">
          <!--Карточка 1 Start   <div class="parent-grey-light" > class="disp1 margin-left10 margin-right10 cont-horiz-start-start wrap"  style="gap: 10px 4px;" </div>--> 
          <app-clients-card-list   [card-business]="_apiCards.cards$" class="w100">
          </app-clients-card-list> 
          <div class="parent-grey-light cont-horiz" *ngIf="isListCardExpand$|async">
            <div class="" style="max-width: 1200px; width: 100%; ">
              <div class="txt-green-light" style="text-decoration: underline; text-align: right; cursor: pointer;" (click)="loadCards()">
                Смотреть еще
              </div>
            </div>
          </div> 
        </div><!-- Популярное END left-right20 margin-bottom: 50px;-->
      </div>
      <div id="content-2">
        <div class="cont-horiz-around wrap">
          <!--Карточка 1 Start   <div class="parent-grey-light" > class="disp1 margin-left10 margin-right10 cont-horiz-start-start wrap"  style="gap: 10px 4px;" </div>--> 
          <!-- <app-clients-card-list [card-business]="_apiCards.cards$" *ngIf="!isRecommend"
           class="w100">
          </app-clients-card-list>  -->
          <div class="parent-grey-light cont-horiz" *ngIf="isListCardExpand$|async">
            <div class="" style="max-width: 1200px; width: 100%; ">
              <div class="txt-green-light" style="text-decoration: underline; text-align: right; cursor: pointer;" (click)="loadCards()">
                Смотреть еще
              </div>
            </div>
          </div> 
        </div><!-- Популярное END left-right20 margin-bottom: 50px;-->
      </div>
    </div>
  </div><!-- partial -->
</div><!-- disp1 END -->