<div class="cont-horiz" style="background: #FAFAFC;  padding-bottom: 20px;" >
    <div class="cont-vert list1200">
        <!-- Cтраница -->
        <div class="cont-vert-start-start w100 left-right20" >
            <!-- Заголовок страницы  -->
            <div class="cont-horiz-start margin-top50 margin-bottom50">
                <!-- help_questions(1.115).html -->
                <a class="cont-horiz btn-back margin-right30"> 
                </a>
                <div>
                    <h1>Помощь</h1>
                </div>
            </div>
            <div class="margin-bottom20">
                <h2>Как создать бизнес-аккаунт?</h2>
            </div>
            <iframe class="margin-bottom40 border-radius:40px" width="560" height="315" src="https://www.youtube.com/embed/DzqfBxlvANQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div>
                Современные технологии достигли такого уровня, что граница обучения кадров создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса форм воздействия.
Являясь всего лишь частью общей картины, диаграммы связей призывают нас к новым свершениям, которые, в свою очередь, должны быть преданы социально-демократической анафеме!
Картельные сговоры не допускают ситуации, при которой непосредственные участники технического прогресса будут призваны к ответу.
            </div>
            <div class="margin-top50 margin-bottom20">
                <h2>Поддержка</h2>
            </div>
            <div class="margin-bottom40">
                Мы любим общаться.
            </div>
            <div class="w100 cont-horiz-start-start wrap" style="margin-bottom: 50px;">
                <a class="cont-horiz btn-green margin-right20 margin-bottom20" style="max-width: 280px;">
                    <div class="margin-right10">
                        <img src="/assets/img/help/chat.png">
                    </div>
                    <div>Чат</div>
                </a>
                <a class="cont-horiz btn-green margin-bottom20" style="max-width: 280px;">
                    <div class="margin-right10">
                        <img src="/assets/img/help/mail.png">
                    </div>
                    <div>Почта</div>
                </a>
            </div>
        </div>
    </div>
</div> 