
      <!-- Страница  style="max-width:1200px; "-->
      <div class="page justify-content-center">
        <div class="bage-manager-0">
          <p class="simple-txt"> Быстрая и простая </p>
          <h1 class="head-h1"> cистема <br> онлайн <br> записи </h1>
          <p class="simple-txt"> ваших клиентов </p>
        </div>
        <!-- Картинка 1 -->
        <div class="cont-horiz">
          <div class="manager-0" ></div>
        </div>
        <div class="container">


            <!-- style="max-width: 880px;" -->
            <div class="row justify-content-end w-100">
              <!-- 1.  -->

                <div class="txt-pink col-6"> Клиенты планируют посещение какой-либо услуги в любое время и даже ночью </div>

            </div>
            <div class="row justify-content-start w-100">
              <!-- 2. -->

                <div class="txt-blue col-6"> Звонки в вечернее время и выходные бывают неудобны всем </div>

            </div>
              <!-- 3. -->
              <div class="row justify-content-end w-100">
                <div class="txt-gray col-6"> Часто клиенты забывают о записи, а исполнитель теряет время и деньги </div>

              </div>
              <!-- 4. -->
              <div class="row justify-content-start w-100">
                <div class="txt-aqua col-6"> В нужный момент под рукой может не оказаться записей клиентов </div>
              </div>
              <!-- 5. -->
              <div class="row justify-content-end w-100">
                <div class="txt-yellow col-6"
                 style="border-radius: 24px 0px 24px 24px;"> Данные о клиентах или заработанных средствах могут потеряться </div>
              </div>
            </div>
          </div>

      <div class="cont-dialog-1 cont-horiz-start-start w100" style="position:relative; ">
        <div class="dialog-1"> С системой онлайн-записи OCPIO <br> эти проблемы вам не страшны! </div>
      </div>
      <div class="manager-1"></div>
      <div class="auto-buisness head-h2 w100 cont-horiz"> Автоматизация бизнес-процессов в сфере оказания услуг! </div>
      <div class="cont-horiz" style="gap:40px 40px; flex-wrap:wrap;">
        <!-- 1. -->
        <div class="cont-success-card cont-horiz-center-end">
          <div class="success-card cont-vert-between-start">
            <div class="badge-own">
              <div class="big-numb">01</div>
              <div class="bold14 " style="max-width:200px;">
                <b class="text-left">Простая и быстрая настройка <br> Бизнес-аккаунта</b>
              </div>
            </div>
            <div class="cont-horiz-end-center">
              <div class="txt-aqua2 normal12"> Всего за 5 минут вы создадите себе график работы, услуги и сразу сможете начать приём клиентов </div>
            </div>
          </div>
          <div style="background-color:#00DAB3; border-radius:24px 24px 24px 0px">
            <img src="/assets/landing/tel-1.svg">
          </div>
        </div>
        <!-- 2. -->
        <div class="cont-success-card cont-horiz-center-end">
          <div class="success-card cont-vert-between-start">
            <div class="badge-own">
              <div class="big-numb">02</div>
              <div class="bold14" style="max-width:200px;">
                <b>Любое количество графиков <br> и услуг</b>
              </div>
            </div>
            <div class="cont-horiz-end-center">
              <div class="txt-aqua2 normal12"> Вы можете создать разные графики работы для каждого дня индивидуально </div>
            </div>
          </div>
          <div style="background-color:#00DAB3; border-radius:24px 24px 24px 0px">
            <img src="/assets/landing/tel-2.svg">
          </div>
        </div>
        <!-- 3. -->
        <div class="cont-success-card cont-horiz-center-end">
          <div class="success-card cont-vert-between-start">
            <div class="badge-own">
              <div class="big-numb">03</div>
              <div class="bold14" style="max-width:200px;">
                <b>Информация о вас и ваших <br> услугах</b>
              </div>
            </div>
            <div class="cont-horiz-end-center">
              <div class="txt-aqua2 normal12"> Собственная страница с информацией, фотографиями и собственной ссылкой </div>
            </div>
          </div>
          <div style="background-color:#00DAB3; border-radius:24px 24px 24px 0px">
            <img src="/assets/landing/tel-3.svg">
          </div>
        </div>
        <!-- 4. -->
        <div class="cont-success-card cont-horiz-center-end">
          <div class="success-card cont-vert-between-start" style="">
            <div class="badge-own">
              <div class="big-numb">04</div>
              <div class="bold14" style="max-width:200px;">
                <b>Гибкое планирование</b>
              </div>
            </div>
            <div class="cont-horiz-end-center">
              <div class="txt-aqua2 normal12"> Простой и удобный календарь для отслеживания записей клиентов </div>
            </div>
          </div>
          <div style="background-color:#00DAB3; border-radius:24px 24px 24px 0px">
            <img src="/assets/landing/tel-4.svg">
          </div>
        </div>
        <!-- 5. -->
        <div class="cont-success-card cont-horiz-center-end">
          <div class="success-card cont-vert-between-start" style="">
            <div class="badge-own">
              <div class="big-numb">05</div>
              <div class="bold14" style="max-width:200px;">
                <b>Статистика выручки<br> и клиентов</b>
              </div>
            </div>
            <div class="cont-horiz-end-center">
              <div class="txt-aqua2 normal12"> Удобная и понятная аналитика
                <br> выручки и клиентов </div>
            </div>
          </div>
          <div style="background-color:#00DAB3; border-radius:24px 24px 24px 0px">
            <img src="/assets/landing/tel-5.svg">
          </div>
        </div>
        <!-- 6. -->
        <div class="cont-success-card cont-horiz-center-end">
          <div class="success-card cont-vert-between-start">
            <div class="badge-own">
              <div class="big-numb">06</div>
              <div class="bold14" style="max-width:270px; text-transform: uppercase;">
                <b>А главное, <br> система онлайн-записи для 
                  <br>исполнителя полностью<br> бесплатна! </b>
              </div>
            </div>
            <div class="cont-horiz-end-center w100">
              <div class="txt-yellow normal12" style="border-radius:24px 0px 0px 24px;"> Поддержка малого бизнеса России </div>
            </div>
          </div>
          <div style="background-color:#FFAB00; border-radius:24px 24px 24px 0px">
            <img src="/assets/landing/tel-6.svg">
          </div>
        </div>
      </div>
      <div class="green-box">
        <div class="cont-vert-center-start w100">
          <div class="head-h2 " style="max-width:640px; margin-bottom: 50px; text-align:center;"> Займитесь тем, в чём вы профессионал, остальное мы возьмём на себя! </div>
          <div class="cont-horiz w100">
            <img src="/assets/landing/tel_1_2.png">
          </div>
          <div class="box-reg cont-vert">
            <div class="txt-reg"> После регистрации создайте бизнес-аккаунт и сразу ничинайте прием клиентов! </div>
            <div class="btn_reg"> Зарегистрироваться </div>
          </div>
        </div>
      </div>
