@import '../../../../../assets/styles/main/color.scss';

.container-ba-modalka-crop{
  display: flex;
  justify-items: center;
  width: 450px;
  background-color: #fff;
}
@media screen and (max-width: 480px) {
	.container-ba-modalka-crop{
    width: 320px;
  }
}
.btn-closeModal-crop {
  width: 100%;
  display:flex;
  justify-content: end;
}
/*   ------  правая колонка - фото ---------    */
.column-right{
  display:flex;
  /*align-items: start;*/
  max-width: 80%;
  min-width: 79%;
}

.choose-another-foto {
  text-decoration: underline;
}
.avatartext{
  color: $green-light;
  margin:40px 0 20px 0;
}
.file-input {
  display: none;
}
.inputAvatar {
  display:flex;
  background-color: $green-basic;
  text-align:center;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius:100px;
  padding: 13px 30px;
  margin-bottom:30px;
  width: 100%;
}
.inputAvatar:hover {
  background:$green-light;
}
.bntForAvatar{
  background-color: $green-basic;
  text-align:center;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius:100px;
  padding: 13px 0;
  width: 100%;
  /*margin-top:30px;*/
}
.block-image-avatar{
  display:flex;
  justify-content: center;
  justify-items: center;
  position:relative;
}
.delete-image-avatar{
  position:absolute;
  bottom:15px;
  right:15px;
  border-radius: 30px;
  padding: 9px 10px;
  border: 1px solid #E24414;
  background: #FFF;
}
/*  кнопка Сохранить   */
.btn-crop-modalka{
  display:grid;
  /*margin-top:60px;*/
  justify-items: center;
}
.saveBtn {
  display:flex;
  justify-self: center;
  text-align:center;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius:24px;
  padding: 13px 130px;
  margin-top:20px;
  background-color: $green-basic;
}
.upfile6 {
  width: 0
}
app-crop-image-modal {
  background: #FFFFFF;
}
ngb-modal-window.d-block.modal.fade.show {
  position: fixed;
  height: 100vh;
}
.str1-profile.border2px {
  width:500px
}
.modal-container {
  background: #FFFFFF;
}
.str1-profile.border2px {
  background-color: white;
}


image-cropper img{
  border-radius: 12px;
}