<div class="container" *ngIf="mapLocation">
  <y-map [props]="{ location: mapLocation }">
    <y-map-default-scheme-layer />
    <y-map-default-features-layer />
    <y-map-marker
      *ngFor="let p of points"
      [props]="{ coordinates: [p.lng, p.lat] }"
    >
      <div class="avatar-pin">
        <img *ngIf="avatarUrl" class="avatar-pin__img" [src]="avatarUrl" alt="Аватар мастера">
        <div *ngIf="!avatarUrl" class="avatar-pin__fallback">
          <svg width="22" height="22" viewBox="0 0 24 24" fill="white" aria-hidden="true">
            <path d="M12 12c2.7 0 4.8-2.1 4.8-4.8S14.7 2.4 12 2.4 7.2 4.5 7.2 7.2 9.3 12 12 12zm0 2.4c-3.2 0-9.6 1.6-9.6 4.8v2.4h19.2v-2.4c0-3.2-6.4-4.8-9.6-4.8z"/>
          </svg>
        </div>
        <div class="avatar-pin__tail"></div>
      </div>
    </y-map-marker>
  </y-map>
</div>
