/* SCROLL START-------------------------------------------------------------------*/
/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #fff; 
} 
/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
	background: $green-basic;
	border-radius: 100px; 
} 
/* SCROLL END-------------------------------------------------------------------*/