
<div class="hmenu cont-horiz" #menu>
  <div class="w100 cont-horiz-between" (click)="redirectMainPage()">
    <div>
      <!-- logo -->
     
      <img src="assets/img/jpg/logo_one_stroke.png"  height="70" style="object-fit: contain; margin-left: 15px;"/>
    </div>
    <div class="cont-horiz" >
      <!-- Вход -->
      <div class="btn-green gb-st1 none768 w100" (click)="openPopUp()" style="cursor: pointer;">
        Вход
      </div>  
      <div class="visible_before768" style="cursor: pointer;" (click) ="openPopUp()" > 
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="none">
          <path fill="#409B89" fill-rule="evenodd" d="M21.64 5.522A13 13 0 0 0 7.04 11a1 1 0 1 1-1.686-1.077 15 15 0 1 1 0 16.154A1 1 0 1 1 7.04 25a13 13 0 1 0 14.6-19.478Zm-5.424 7.463a1 1 0 0 1 1.414 0l4.308 4.308a1 1 0 0 1 0 1.414l-4.308 4.308a1 1 0 0 1-1.414-1.414l2.6-2.601H4a1 1 0 1 1 0-2h14.817l-2.601-2.6a1 1 0 0 1 0-1.415Z" clip-rule="evenodd"/>
        </svg> 
      </div> 
      <!-- Гамбургер -->
      <!--Правка чтобы hamb-menu перекрыла низ-->
      <div class="hamburger-icon2 toggle2 container"  #toggleButton > 
        <div  class="btn1" [ngClass]="isMenuOpen ? 'open' : 'close'" >
          <div class="icon-left" ></div>
          <div class="icon-right"></div> 
        </div>
      </div>
      <!-- Меню -->  
      <div class="nav-container2 active" *ngIf="isMenuOpen"> 
        <div class="nav-link-wrapper2 w100 cont-vert-start-start" style="gap: 15px 15px;"> 
          <li class="nav-item w100" (click)="openPopUp(); hideMenu()">
            <a><b>Вход</b></a>
          </li>
          <!-- getToHelp(); -->
          <li class="nav-item w100" (click)="goToHelp();">
            <a>Помощь</a>
          </li>  
          <li class="nav-item w100" (click)="goToService();"> 
            <a >О сервисе</a>
          </li> 
        </div> 
      </div>
  </div>
  </div>
</div>
