 <!-- MENU -->
<div class="hmenu">
    <div class="cont-horiz-between"> 
        <img src="img/logo-ocpio.png" class="logo" > 
        <div class="cont-horiz" >
            <div class="btn-green gb-st1 none768" > 
                <p>Регистрация</p>
            </div>
            <div class="cont-horiz white-btn">  
                <p class="none768" style="display: inline-block;">Вход</p>&nbsp;
                <div>
                    <img src="img/bx-log-in-circle.png" class="none768" style="height: 38px;" >    
                </div>
                <div> 
                    <img class="burger" src="img/ico_botton/burger.png">  
                </div>
            </div>
        </div>
    </div> 
</div>  
<!-- Строка 0 РАЗОБРАТЬ  start--> 
<div class="cont-horiz" style="background: #FAFAFC;" >
    <!-- Left column--> 
    <div class="typograph-left-column">
        <h3> 
            Разобрать
        </h3> 
    </div>		
    <!-- List Right--> 
    <div class="typograph-right-column">
        <div class="marker-green">
            OCPIO (.marker-green)
        </div>  
        <div class="h4-name">Текст (.h4-name)</div> 
    </div> 
</div>
<!-- Строка 0 РАЗОБРАТЬ END-->
<!-- Строка 1 РАСПОЛОЖЕНИЕ  start--> 
<div class="cont-horiz" style="background: #FAFAFC;" >
    <!-- Left column--> 
    <div class="typograph-left-column">
        <h3> 
            Расположение 
        </h3> 
    </div>		
    <!-- List Right-->  
    <div class="typograph-right-column ">
        <a href="http://cssworld.ru/flex/">
            <h3>Генератор flex, flexbox - http://cssworld.ru/flex/</h3>
        </a>
        <!-- Таблица расположения элементов start -->
        <div class="cont-horiz wrap">
            <!-- Расположение 1 --> 
            <div class="cont-vert">
                <div>
                    (.cont-horiz-start-start)
                </div>
                <div class="cont-horiz-start-start test-parent-box "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div>  
            <!-- Расположение 2 cont-horiz-start-center --> 
            <div class="cont-vert">
                <div>
                    (.cont-horiz-start)
                </div>
                <div class="cont-horiz-start test-parent-box "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div> 
            <!-- Расположение 3 -->
            <div class="cont-vert">
                <div>
                    (.cont-horiz-start-end)
                </div>
                <div class="cont-horiz-start-end test-parent-box "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div>
            <!-- Расположение 4 --> 
            <div class="cont-vert">
                <div>
                    (.cont-horiz-center-start)
                </div>
                <div class="cont-horiz-center-start test-parent-box "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div> 
            <!-- Расположение 5 --> 
            <div class="cont-vert">
                <div>
                    (.cont-horiz)
                </div>
                <div class="cont-horiz test-parent-box "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div>
            <!-- Расположение 6 --> 
            <div class="cont-vert">
                <div>
                    (.cont-horiz-center-end)
                </div>
                <div class="cont-horiz-center-end test-parent-box "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div> 
            <!-- Расположение 7 --> 
            <div class="cont-vert">
                <div>
                    (.cont-horiz-end-start)
                </div>
                <div class="cont-horiz-end-start test-parent-box "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div> 
            <!-- Расположение 8 --> 
            <div class="cont-vert">
                <div>
                    (.cont-horiz-end-center)
                </div>
                <div class="cont-horiz-end-center test-parent-box "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div> 
            <!-- Расположение 9 --> 
            <div class="cont-vert">
                <div>
                    (.cont-horiz-end-end)
                </div>
                <div class="cont-horiz-end-end test-parent-box "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div> 
            <!-- Расположение 10 --> 
            <div class="cont-vert">
                <div>
                    (.cont-horiz-around-start)
                </div>
                <div class="cont-horiz-around-start test-parent-box "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div>
            <!-- Расположение 11 -->
            <div class="cont-vert">
                <div>
                    (.cont-horiz-around)
                </div>
                <div class="cont-horiz-around test-parent-box "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div>
            <!-- Расположение 12 --> 
            <div class="cont-vert">
                <div>
                    (.cont-horiz-around-end)
                </div>
                <div class="cont-horiz-around-end test-parent-box "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div>
            <!-- Расположение 13 --> 
            <div class="cont-vert">
                <div>
                    (.cont-horiz-between-start)
                </div>
                <div class="cont-horiz-between-start test-parent-box "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div>
            <!-- Расположение 14 --> 
            <div class="cont-vert">
                <div>
                    (.cont-horiz-between)
                </div>
                <div class="cont-horiz-between test-parent-box "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div>
            <!-- Расположение 15 -->  
            <div class="cont-vert">
                <div>
                    (.cont-horiz-between-end)
                </div>
                <div class="cont-horiz-between-end test-parent-box "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div> 
            <!-- Расположение 16  -->
            <div class="cont-vert">
                <div>
                    (.cont-vert-start-start)
                </div>
                <div class="cont-vert-start-start test-parent-box2 "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div><br><br>
            <!-- Расположение 17 --> 
            <div class="cont-vert">
                <div>
                    (.cont-vert-start-center)
                </div>
                <div class="cont-vert-start-center test-parent-box2 "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div><br><br>
            <!-- Расположение 18 --> 
            <div class="cont-vert">
                <div>
                    (.cont-vert-start-end)
                </div>
                <div class="cont-vert-start-end test-parent-box2 "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div><br><br>
            <!-- Расположение 19 -->
            <div class="cont-vert">
                <div>
                    (.cont-vert-center-start)
                </div>
                <div class="cont-vert-center-start test-parent-box2 "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div><br><br>
            <!-- Расположение 20 -->
            <div class="cont-vert">
                <div>
                    (.cont-vert)
                </div>
                <div class="cont-vert test-parent-box2 "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div><br><br>
            <!-- Расположение 21 -->
            <div class="cont-vert">
                <div>
                    (.cont-vert-center-end)
                </div>
                <div class="cont-vert-center-end test-parent-box2 "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div><br><br>
            <!-- Расположение 22 -->
            <div class="cont-vert">
                <div>
                    (.cont-vert-end-start)
                </div>
                <div class="cont-vert-end-start test-parent-box2 "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div><br><br>
            <!-- Расположение 23 -->
            <div class="cont-vert">
                <div>
                    (.cont-vert-end-center)
                </div>
                <div class="cont-vert-end-center test-parent-box2 "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div><br><br>
            <!-- Расположение 24 -->
            <div class="cont-vert">
                <div>
                    (.cont-vert-end-end)
                </div>
                <div class="cont-vert-end-end test-parent-box2 "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div><br><br>
            <!-- Расположение 25 -->
            <div class="cont-vert">
                <div>
                    (.cont-vert-around-left)
                </div>
                <div class="cont-vert-around-left test-parent-box2 "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div>
            <!-- Расположение 26 -->
            <div class="cont-vert">
                <div>
                    (.cont-vert-around)
                </div>
                <div class="cont-vert-around test-parent-box2 "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div>
            <!-- Расположение 27 -->
            <div class="cont-vert">
                <div>
                    (.cont-vert-around-end)
                </div>
                <div class="cont-vert-around-end test-parent-box2 "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div> 
            <!-- Расположение 28 --> 
            <div class="cont-vert">
                <div>
                    (.cont-vert-between-start)
                </div>
                <div class="cont-vert-between-start test-parent-box2 "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div> 
            <!-- Расположение 29 -->
            <div class="cont-vert">
                <div>
                    <b>(.cont-vert-center-between)</b>
                </div>
                <div class="cont-vert-center-between test-parent-box2 "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div>
            <!-- Расположение 30 -->
            <div class="cont-vert">
                <div>
                    (.cont-vert-between-end)
                </div>
                <div class="cont-vert-between-end test-parent-box2 "> 
                    <div class="test-box">Блок 1 </div> 
                    <div class="test-box">Блок 2 </div> 
                    <div class="test-box">Блок 3 </div> 
                </div>
            </div>
        </div>
        <!-- Таблица расположения элементов End -->
    </div> 
</div>
<!-- Строка 1 РАСПОЛОЖЕНИЕ END--> 
<!-- Строка 2 ЦВЕТА  start--> 
<div class="cont-horiz" style="background: #FAFAFC;" >
    <!-- Left column--> 
    <div class="typograph-left-column">
        <h3> 
            Цвета
        </h3> 
    </div>		
    <!-- Right column--> 
    <div class="typograph-right-column">
        <div class="cont-horiz-around-start wrap" style="background-color:#ababab;">
            <!-- Цвет 1 -->
            <div class="cont-horiz margin10">
                <div class="round40 background-green-dark"> 
                </div>&nbsp;&nbsp;  
                <div class="color-green-dark ">
                    (.color-green-dark)
                    <br><b>#409B89</b>
                </div>
            </div>
            <!-- Цвет 2 -->
            <div class="cont-horiz margin10">
                <div class="round40 background-green-basic"> 
                </div>&nbsp;&nbsp;  
                <div class="color-green-basic txt-nowrap">
                    (.color-green-basic)
                    <br><b>$green-basic</b>
                </div>
            </div>
            <!-- Цвет 3 -->
            <div class="cont-horiz margin10">
                <div class="round40 background-green-light"> 
                </div>&nbsp;&nbsp;  
                <div class="color-green-light txt-nowrap">
                    (.color-green-light)
                    <br><b>#00DAB3</b>
                </div>
            </div>
            <!-- Цвет 4 -->
            <div class="cont-horiz margin10">
                <div class="round40 background-black"> 
                </div>&nbsp;&nbsp;  
                <div class="color-black txt-nowrap">
                    (.color-black)
                    <br><b>#23262F</b>
                </div>
            </div>
            <!-- Цвет 5 -->
            <div class="cont-horiz margin10">
                <div class="round40 background-grey-dark"> 
                </div>&nbsp;&nbsp;  
                <div class="color-grey-dark txt-nowrap">
                    (.color-grey-dark)
                    <br><b>#C0C5D5</b>
                </div>
            </div>
            <!-- Цвет 6 -->
            <div class="cont-horiz margin10">
                <div class="round40 background-grey"> 
                </div>&nbsp;&nbsp;  
                <div class="color-grey txt-nowrap">
                    (.color-grey)
                    <br><b>#DDE2ED</b>
                </div>
            </div>
            <!-- Цвет 7 -->
            <div class="cont-horiz margin10">
                <div class="round40 background-grey-light"> 
                </div>&nbsp;&nbsp;  
                <div class="color-grey-light txt-nowrap">
                    (.color-grey-light)
                    <br><b>#FAFAFC</b>
                </div>
            </div>
            <!-- Цвет 8 -->
            <div class="cont-horiz margin10">
                <div class="round40 background-white"> 
                </div>&nbsp;&nbsp;  
                <div class="color-white txt-nowrap">
                    (.color-white)
                    <br><b>#FFF</b>
                </div>
            </div>
            <!-- Цвет 9 -->
            <div class="cont-horiz margin10">
                <div class="round40 background-success"> 
                </div>&nbsp;&nbsp;  
                <div class="color-success txt-nowrap">
                    (.color-success)
                    <br><b>#4FB229</b>
                </div>
            </div>
            <!-- Цвет 10 -->
            <div class="cont-horiz margin10">
                <div class="round40 background-info"> 
                </div>&nbsp;&nbsp;  
                <div class="color-info txt-nowrap">
                    (.color-info)
                    <br><b>#0A6ED8</b>
                </div>
            </div>
            <!-- Цвет 11 -->
            <div class="cont-horiz margin10">
                <div class="round40 background-warning"> 
                </div> 
                <div class="color-warning txt-nowrap">
                    (.color-warning)
                    <br><b>#FFAB00</b>
                </div>
            </div>
            <!-- Цвет 12 -->
            <div class="cont-horiz margin10">
                <div class="round40 background-error"> 
                </div>&nbsp;&nbsp;  
                <div class="color-error txt-nowrap">
                    (.color-error)
                    <br><b>#E24414</b>
                </div>
            </div>
        </div>
    </div> 
</div> 
<!-- Строка 2 ЦВЕТА  END --> 

<!-- Строка 3 ШРИФТЫ start --> 
<div class="cont-horiz" style="background: #FAFAFC;" >
    <!-- Left column--> 
    <div class="typograph-left-column">
        <h3> 
            Заголовки на компьютере
        </h3> 
    </div>		
    <!-- Right column-->  
    <div class="typograph-right-column">
        <div class="intro">
            Вступление(.intro) 
        </div>
        <div>
            <h1>Заголовок 1 (1.5rem)</h1>
            <h2>Заголовок 2 (1.25rem)</h2>
            <h3>Заголовок 3 (1rem)</h3>  
        </div>   
        <div class="txt-green-light">
            Зеленый текст (.txt-green-light)
        </div>
        
        <p class="txt-gray-light">
            Серый текст (.txt-gray-light)
        </p>  
        <div>Ссылка</div>	<br> 
        <p>Абзац (p) - Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially 
            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more 
            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p> 
        <div>
            Текст ( div )
        </div>  
    </div> 
</div>  
<!-- Строка 3 ШРИФТЫ END -->   

<!-- Строка 4 КНОПКИ start --> 
<div class="cont-horiz"  >
    <!-- Left column--> 
    <div class="typograph-left-column">
        <h3> 
            Кнопки
        </h3>
    </div>		
    <!-- Right column-->  
    <div class="typograph-right-column">
        <div class="cont-horiz-start"> 
            <div class="cont-horiz btn-back"> 
            </div>
            <div> 
                Кнопка назад (.btn-back)
            </div>
        </div><br><br>
        
        <div class="btn-eror cont-vert">
            .btn-eror
        </div><br><br> 
        
        <div class="btn-green cont-vert">
            .btn-green
        </div><br><br> 
        
        <div class="btn-black cont-vert">
            .btn-black
        </div><br><br>
        
        <div class="btn-gray cont-vert">
            .btn-gray
        </div><br><br>
        
        <div class="btn-white cont-vert">
            .btn-white
        </div><br><br> 
        <div class="cont-horiz-start">
            <div class="round30 background-green-dark">
                <img src="img/ico_botton/Arrow-right-white.png"	class="search-arr-right">
            </div>
            <div> 
                Кнопка поиск (.round30)
            </div>
        </div><br><br> 
    </div> 
</div>
<!-- Строка 4 КНОПКИ END -->  

<!-- Строка 5 ФОРМЫ  start--> 
<div class="cont-horiz" style="background: #FAFAFC;" >
    <!-- Left column--> 
    <div class="typograph-left-column">
        <h3> 
            Формы
        </h3> 
    </div>		
    <!-- Right column--> 
    <div class="typograph-right-column "> 
        <div class="cont-horiz-start-start">
                <!--Карточка 1 услуги START-->
            <div class="card cont-vert-center-between"> 
                <!-- Фото --> 
<a href="@@card-service-link" style="height: 280px;">
<img src="img/page1/popular/1.jpg" class="card-img" >
</a>

<!-- Описание -->
<div class="description_card">    
<div class="cont-horiz-start-start" style="PADDING: 5PX;">
    <div class="cont-horiz margin-top10 margin-bottom20"> 
        <img src="img/page1/popular/Ellipse-21.png" class="ico-comment">  
        <p class="margin-right20">100</p>  
        <img src="img/page1/popular/Star-24.png" class="card-usl-img-raiting margin-right10">  
        <p>4,6</p> 
    </div>
</div> 
<div class="card-service-title margin-bottom10">
    <a href="@@card-service-link">
        <h3>BarberShop</h3>
    </a>
</div> 
<p class=" ">
    <!-- @@card-service_city -->
</p> 
<p class="card-adress margin-bottom20">
    Проспект Юнных Птирадактелей, 666
</p> 
<div class="teg-green">
    <div class="cont-horiz">
        Авто/Мото
    </div> 
</div>  
</div>   
            </div>
            <!--Карточка 1 услуги END--> 
            <!-- Комментарий 1 --> 
            <div class="description_card comment">     
<div class="cont-horiz-start">
    <!-- Фото -->
    <div>
        <img src="img/1.22_b_a/ava_comments.png" class="comment-foto">  
    </div>
    <!-- Имя + ретинг + дата -->
    <div class="cont-vert-start">
        <div >
            <h4 style="margin:0px!important;">
                Зинаида&nbsp;Смирнова
            </h4>
        </div> 
        <div class="cont-horiz-between"> 
            <div class="cont-horiz-between">
                <div>
                    <img src="img/page1/popular/Star-24.png" class="comment-img-raiting">
                </div>
                <div class="raiting-numb">
                    <p>
                        4,6
                    </p>
                </div> 
            </div>
            <div class="cont-horiz-between"  > 
                <div>
                    <p>22&nbsp;мая&nbsp;2021</p>
                </div> 
            </div>
        </div> 
    </div>
</div> 
<!-- Описание -->
<p>
    Осталась очень довольна посещением студии, мастер добрая и отзывчивая, явно была заинтересована в том, чтобы работа получилась качественной, помогала выбрать цвет и дизайн. 
</p> 
</div> 
            <!-- Конкурс 1 -->
            <div class="contest cont-vert-between" 
    style="background-image:url(img/1.8_u_a/contest1.jpg);"> 
<div class="contest-name">
    <b>Пушистые-шерститсые брови шелковистые</b>
</div>
<div>
    Лучшая работа в технике airbrow
</div>
<div> 
    <img src="img/1.8_u_a/Ico-location.png">&nbsp;
    Россия
</div>
<div class="cont-horiz-between">
    <div class="margin-right10">
        1.01&nbsp;–&nbsp;31.01
    </div>
    <div class="margin-right10">
        Осталось 3&nbsp;дня
    </div>
    <div class="cont-horiz">
        <div>Читать&nbsp;условия&nbsp;&nbsp;</div> 
        <img src="img/1.8_u_a/arr-right-white.png">
    </div>
</div>
</div>   
        </div>
        
        <!-- Строка поиска  --> 
        <div class="width100" Style="min-width:300px;">
            <form class="search-line" name="test" method="post" action="input1.php" > 
                <div class="cont-horiz-between search-line-in">
                    <div>
                        <input  
                                type="text" 
                                size="11" 
                                placeholder="Что вы ищете?" 
                                style="border:0px;" > 
                    </div> 
                    <div class="round30">
                        <img src="img/ico_botton/Arrow-right-white.png"	class="search-arr-right">
                    </div> 
                </div>  
            </form>
        </div>
    </div> 
</div>
<!-- Строка 5 ФОРМЫ  END--> 
<!-- Строка 6 СПИСКИ  start--> 
<div class="cont-horiz" style="background: #FAFAFC;" >
    <!-- Left column--> 
    <div class="typograph-left-column">
        <h3> 
            Списки
        </h3> 
    </div>		
    <!-- Right column--> 
    <div class="typograph-right-column">
            
    </div> 
</div>
<!-- Строка 6 СПИСКИ  END --> 
<!-- Строка 7 Отступы  start--> 
<div class="cont-horiz" style="background: #FAFAFC;" >
    <!-- Left column--> 
    <div class="typograph-left-column">
        <h3> 
            Отступы
        </h3> 
    </div>		
    <!-- Right column-->  
    <div class="typograph-right-column">
        (hr)
        <hr> 
    </div> 
</div>
<!-- Строка 7 Отступы  END-->  