<!-- Альбом 1 -->
<div class="card-albom-ba" >
    <div class="cont-horiz edit-ba-foto-tab" >
        <img src="/assets/img/ba-edit/album-foto2.jpg" class="edit-ba-foto-albom">
    </div>
    <div class="card-albom-text">
        <div class="card-albom-name">
            Наши мастера
        </div>
        <div class="color-grey">
            15 фото
        </div>
    </div>
</div>
<!-- Альбом 2 -->
<div class="card-albom-ba" >
    <div class="cont-horiz edit-ba-foto-tab" >
        <img src="/assets/img/ba-edit/album-foto3.jpg" class="edit-ba-foto-albom">
    </div>
    <div class="card-albom-text">
        <div class="card-albom-name">
            Маникюр
        </div>
        <div class="color-grey">
            7 фото
        </div>
    </div>
</div>
<!-- Альбом 3 -->
<div class="card-albom-ba" >
    <div class="cont-horiz edit-ba-foto-tab" >
        <img src="/assets/img/ba-edit/album-foto4.jpg" class="edit-ba-foto-albom">
    </div>
    <div class="card-albom-text">
        <div class="card-albom-name">
            Прически
        </div>
        <div class="color-grey">
            5 фото
        </div>
    </div>
</div>
<!-- Альбом 4 -->
<div class="card-albom-ba" >
    <div class="cont-horiz edit-ba-foto-tab" >
        <img src="/assets/img/ba-edit/album-foto5.jpg" class="edit-ba-foto-albom">
    </div>
    <div class="card-albom-text">
        <div class="card-albom-name">
            Интерьер салона Константина Константинопольского
        </div>
        <div class="color-grey">
            3 фото
        </div>
    </div>
</div>