.btm {
    padding-top: -50px
}

/* New styles for image and font size at 640px */
/* @media screen and (max-width: 640px) {
    .cont-vert {
      width: 100px;
      height: 100px;
      aspect-ratio: 1 / 1;
    }
  } */
  
  /* New styles for image and font size at 320px */
  /* @media screen and (max-width: 320px) {
    .cont-vert {
      width: 80px;
      height: 80px;
      aspect-ratio: 1 / 1;
    }
    .text-center {
      font-size: 16px;
    }
  } */

.item.cont-horiz.ng-star-inserted {
  height: 250px;
}
  /* card растягивается по контенту */
.p-carousel .card {
  display: flex;
  flex-direction: column;
  height: auto;              /* важное */
  min-height: 0;
}

/* текст переносится нормально */
.title {
  margin-top: .5rem;
  line-height: 1.2;
  word-break: break-word;    /* ломаем длинные слова */
  overflow-wrap: anywhere;   /* современная альтернатива */
  hyphens: auto;             /* расстановка переносов */
}

/* чтобы браузер знал язык для переносов */
:host { language: ru; }      /* или <html lang="ru"> */


/* показываем максимум 2 строки */
.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;   /* 2–3 строки — выбери нужное */
  -webkit-box-orient: vertical;
  overflow: hidden;
}