<!-- <p>cardalbombafoto works!</p> -->
<div class="card-albom-ba-foto ">
    <!-- До наведения -->
    <img src="@@card_albom_ba_foto" class="edit-ba-gallery-foto" style=" position: absolute;z-index: 1;">
    <div class="cont-horiz-end-start card_albom_ba_foto-before"> 
        <!-- всплыающее окно start-->
		<label class="tooltip">
			<!-- Кебаб start -->
            <div class="cebab-white30 cont-vert"  > 
                <div class="cebab-point-white">  </div> 
                <div class="cebab-point-white">  </div> 
                <div class="cebab-point-white">  </div> 
            </div> 
            <!-- Кебаб End -->
			<input type="checkbox">
            <!-- содержимое всплыающего окна start -->
			<span>
                <div class="cont-vert-start-center tooltip-box">
                    <div class="cont-horiz">
                        <div class="v-white30" >  
                        </div>
                       
                        <div>
                            Сделать главным фото
                        </div> 
                    </div>
				    <div class="cont-horiz">
					    <div class="ico-del" > 
					    </div>
					    <div>Удалить</div>
				    </div>
			    </div>
            </span>
            <!-- содержимое всплыающего окна end -->
		</label>
		<!-- всплыающее окно start-->  
    </div>
    <!-- После наведения-->
    <div class="albom-ba-foto-control-panel cont-vert-around">
        <div class="cont-vert">
            <div class="v-white" >  
            </div>
            <div class="margin-top15" style="color: #fff;">
                Главное фото3
            </div>
        </div>
        <div class="w100 cont-horiz-end-center" > 
            <div class="ico-del" > 
            </div>
        </div>
    </div>
</div>   