<!-- Просмотр альбома у БА в модальном окне --> 
<div class="w100 cont-vert-start-center" >  
  <!-- Начало модального окна wrap-->
  <div class="cont-vert-start-start modal-album-ba w100 "  > 
    <!-- крестик -->
    <div class="cont-vert-end-start w100">
      <img src="/assets/img/ba-edit/ico_close_pc.png" (click)="close()">
    </div>
    <!-- Название альбома -->
    <div class="cont-horiz w100 margin-bottom20">
      <h2>{{albumName}}</h2>
    </div>  
    <!-- Изображения альбома --> 
    <div class="w100 wrap img-albom-ba-position" > 
      <img [src]="image.url" class="img-albom-ba" *ngFor="let image of images" (click)="showImage(image)" alt="">
    </div> 
  </div>  
</div>  
<!-- <app-modalalbum [albumId]="selectedAlbumId"></app-modalalbum> --> 