/*Select варинат круг*/
.spisokListContainerR{
  display:grid;
  position: relative;
  /*border:1px solid rgba(120, 7, 225, 0.68);*/
  width: 360px;
  margin: 0 auto;
}
.textTitleR{
  font-size:16px;
}
.spisokR {
  padding:13px 20px;
  display:grid;
  grid-template-columns: 93%  7%;
  align-content: center;
  align-self: center;
  border:1px solid #9196A4;
  border-radius:24px 24px;
}
.spisokR.openR {
  border:1px solid #9196A4;
  border-radius:24px 24px 1px 1px;
}
.spisokR.openR svg{
  transform: rotate(180deg);
}


.openListR {
  display:none;
}
.openListR.openR {
  display:grid;
  opacity: 1;
  max-width: 360px;
  font-size: 1rem;
  height: 180px;
  overflow-y: scroll;
  line-height: 1.5em;
  border:1px solid #9196A4;
}
/*.openListR li:first-child{*/
/*  border-top:1px solid #9196A4;*/
/*}*/
.openListR li{
  border-bottom:1px solid #9196A4;
  padding:13px 20px;
  border-raduis:24px 0px;
  font-size:18px;
}
.spisokListContainerR div::-webkit-scrollbar {
  width: 12px;
}
.spisokListContainerR div::-webkit-scrollbar-track {
  outline:1px solid #9196A4;
}
.spisokListContainerR div::-webkit-scrollbar-thumb {
  background-color: #50BDA7FF;
  border-radius: 8px;
  border: 4px solid #fff;
}
.openListR li:hover{
  background-color:#00DAB3
}
.show-time-modal{
  background-color: #fff;
  width: 540px;
  height: 600px;
  padding: 30px 50px 50px 50px; 
}
/*app-show-time-modal {*/
/*    background: white;*/
/*    height: 250px;*/
/*    !*margin-top: 300px;*!*/
/*}*/
/*.timer {*/
/*    border-color: #409B89;*/
/*}*/
/*cdk-virtual-scroll-viewport.cdk-virtual-scroll-viewport.example-viewport.col-sm-2.cdk-virtual-scrollable.ng-native-scrollbar-hider.ng-scroll-viewport.cdk-virtual-scroll-orientation-vertical{*/
/*    width: 70px;*/
/*    overflow-x: hidden;*/
/*}*/
/*cdk-virtual-scroll-viewport.cdk-virtual-scroll-viewport.example-viewport.col-sm-2.cdk-virtual-scrollable.cdk-virtual-scroll-orientation-vertical{*/
/*    width: 70px;*/
/*    overflow-x: hidden;*/
/*}*/
/*cdk-virtual-scroll-viewport{*/
/*    scrollbar-width: none;*/
/*}*/
/*ng-scrollbar.virtual-scroll.ng-scrollbar {*/
/*    height: 100px;*/
/*    background: white;*/
/*}*/
/*.example-viewport {*/
/*    !*Other styles.....*!*/
/*    -ms-overflow-style: none;*/
/*    scrollbar-width: none;*/
/*}*/
/*.example-viewport::-webkit-scrollbar{*/
/*    display: none;*/
/*}*/
/*html {*/
/*    scroll-behavior: smooth;*/
/*}*/
/*.time-numb{*/
/*    width: 77px;*/
/*    height: 262px;*/
/*}*/
/*.example-item {*/
/*    height: 77px;*/
/*    width: 77px;*/
/*    !*background-color: aqua;*!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    border-radius: 12px;*/
/*    border: 2px solid  #9196A4;*/
/*}*/
/*.example-item:hover{*/
/*    border: 2px solid  #00DAB3;*/
/*}*/

/*!* Недостающие стили *!*/
/*.cont-horiz-between {*/
/*    display: flex;*/
/*}*/


/*!* Доп отступ снизу, чтобы при выборе нижних элементов происходил скролл ниже (а сам элемент оказывался выше) *!*/
/*.time-space {*/
/*    height: 145px;*/
/*}*/ 
/* -------------------------------- */ 