.chooseServices{
  margin-bottom: 0;
  padding: 20px 0;
  border-bottom: 1px solid #DDE2ED;
  background-color: #fff;
}
.confirm-record-servise{
  padding-left: 20px ;
  padding-right: 20px ;
  padding-top: 30px;
  background-color: #fff;
  width: 100%;
} 
.container-textarea{
  display:flex;
  position:relative;
  max-width: 500px;
  margin: 30px auto;
}
.textarea-ba-profile{
  border: 1px solid #9196A4;
  border-radius: 0;
  resize: none;
  outline: none;
  width:100%;
  padding:20px;
  margin:0 5px;
}
.textarea-ba-profile:focus{
  border: 1px solid #00DAB3;
}
.textarea-count{
  position:absolute;
  bottom:20px;
  right:20px;
} 
@media screen and (max-width: 640px){
  .confirm-record-servise{
    padding-left: 10px ;
    padding-right: 10px ;
    padding-top: 20px;
  }
}
@media screen and (max-width: 640px){
  .left-ba-profile{
    display:none;
  }

}
.type-of-pay{
  min-width: 144px; 
} 