
<!-- Свободное время -->
<div class="w100 free-time-table cont-horiz" *ngIf="freeSlots$|async as freeSlots">
  
  <div class="w100  cont-horiz wrap" style="gap: 10px 10px;" *ngIf="freeSlots.length !== 0">
    <div class="calendar_alert margin-top30 margin-bottom30 cont-horiz w100" *ngIf="duration > 0">
      Выберите время начала
    </div>
    <div [ngClass]="{'teg-white': !slot.isChoose, 'teg-green': slot.isChoose}"
         (click)="chooseInterval(slot)" *ngFor="let slot of freeSlots">
      {{slot.start}}
    </div>
  </div>
  <div *ngIf="freeSlots.length == 0">
    <span style="color: #d46c54;"> Нет доступных слотов для записи</span>
  </div>
</div>
