 <div class="cont-vert left-right20mob" >
    <div class="w100" style="max-width: 1200px;">
        <div  class="cont-horiz-start margin-top50 margin-bottom50" >
            <div class="cont-horiz btn-back"   style="cursor: pointer" (click)="goToMain()"> 
            </div>
            <div >
                <h1>О&nbsp;сервисе</h1>
            </div>
        </div> 
        <div class="cont-vert w100" > 
            <div style="max-width: 600px;">
                <p><b>On Waves - запишись к любимому исполнителю </b></p> <br/>
                <p>Площадка, помогающая клиентам найти услугу и записаться к исполнителю. </p><br/>
                <p>Для исполнителя предоставлен пакет инструментов, необходимых для работы с клиентами в формате ONLINE.</p> <br/>
                <p>Сервис бесплатен для всех!</p><br/>
                <p>Для вопросов и предложений:</p><br/>
                <!-- <p class="txt-green-light" style="text-decoration-line: underline;">
                    ceo@ocpio.com
                </p> -->
                <br/>
                <div class="cont-horiz w100"> 
                    <img src="/assets/img/phone.svg"> 
                </div> 
            </div> 
        </div>
    </div>
</div>